div{
    height: 100px; width: 100px;
    text-align: center;
    line-height: 100px;
}

.boxA{
    background-color: aqua;
}

.boxB{
    background-color: aliceblue;
}

.boxC{
    background-color: bisque;
}